body{
 background-color: #ddd;
}
img
{
height: 250px;
width:250px;
margin-left:27px;
margin-top:15px;
margin-right:37.5px;
transition: .5s ease;
backface-visibility: hidden;
padding: 0px;
-webkit-box-shadow:0 4px 69px black, 0 0 40px black inset;
       -moz-box-shadow:0 4px 69px black, 0 0 40px black inset;
            box-shadow:0 4px 69px black, 0 0 40px black inset;

}
#sai
{
    margin-top:100px;
    margin-left:500px;
    height: 300px;
    
}
#adosa
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color: limegreen;
}
#ddosa
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:#B22222;

}
#aidli
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color: limegreen;
}
#didli
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:red;
}
#avada
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color: limegreen;
}
#dvada
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:red;
}
#apongal
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color: limegreen;
}
#dpongal
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:red;
}
#aparota
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color: limegreen;
}
#dparota
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:red;
}
#aapam
{
    background-color:limegreen;
    width:45px;
    margin-left:80px;
    margin-top: 18px;
    height:30px;
    border-color:limegreen;
}
#dapam
{
    background-color:red;
    width:65px;
    margin-top:-30px;
    margin-left:160px;
    height:30px;
    border-color:red;
}


div.spring_rolls
{
height: 330px;
 width:300px;
 margin-left:70px;
 margin-top: 70px;

 border-radius:10px;
}
div.walnut_shrimp
{
margin-top:-330px;
margin-left:500px;
height: 330px;
 width:300px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

 
}
div.hot_pot
{
    margin-top:-330px;
margin-left:925px;
height: 330px;
 width:300px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;
 
}

div.won_ton
{
height: 330px;
 width:300px;
 
 margin-left:70px;
 margin-top: 100px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.kung_pao_chicken
{
    margin-top:-330px;
margin-left:500px;
height: 330px;
 width:300px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

 
}
div.mapo_doufu
{
    margin-top:-330px;
margin-left:925px;
height: 330px;
 width:300px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;
 
}

div.chow_mein
{
height: 330px;
 width:300px;
 
 margin-left:70px;
 margin-top: 100px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.hunan_chicken
{
height: 330px;
 width:300px;
 
 margin-left:500px;
 margin-top: -332px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.meatball
{
height: 330px;
 width:300px;
 
 margin-left:925px;
 margin-top:-332px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.chicken_friedrice
{
height: 330px;
 width:300px;
 margin-left:70px;
 margin-top: 100px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.eggroll_bowl
{
height: 330px;
 width:300px;
 
 margin-left:500px;
 margin-top: -325px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.dragon_noodles
{
height: 330px;
 width:300px;
 
 margin-left:925px;
 margin-top: -325px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.moo_goo_gai_pan
{
height: 330px;
 width:300px;
 
 margin-left:500px;
 margin-top: -200px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}

div.chicken_skewers
{
height: 330px;
 width:300px;
 
 margin-left:925px;
 margin-top:-325px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.moo_goo_gai_pan
{
height: 330px;
 width:300px;
 margin-left:500px;
 margin-top: -325px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.pepper_steak
{
height: 330px;
 width:300px;
 
 margin-left:70px;
 margin-top: -390px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;
margin-bottom:60px;
}
div.egg_foo_young
{
height: 330px;
 width:300px;
 
 margin-left:500px;
 margin-top: 50px;
 margin-bottom:60px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
div.buddhas_delight
{
height: 330px;
 width:300px;
 
 margin-left:70px;
 margin-top: 100px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 50px;
 border-top-right-radius:50px;

}
.header {
    overflow: hidden;
    background-color:black;
    padding: 20px 10px;
    margin-top:-2760px;
    height: 33px;
    width:1269px;
    margin-left:-10px;
    
  }
  #order
  {
      margin-top: 100px;
    margin-left: 460px;
    background-color:limegreen;
    border-color: limegreen;
    height:60px;
    width:40%;

    
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: limegreen;
    color: black;
  }
  
  .header a.active {
    background-color:limegreen;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  

   
  .middle {
    transition: .5s ease;
    opacity: 0;
    width:100px;
    margin-left:160px;
    margin-top: -200px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .dumpling:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .dumpling:hover .middle {
    opacity: 1;
  }
  .spring_rolls:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .spring_rolls:hover .middle {
    opacity: 1;
  }
  .walnut_shrimp:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .walnut_shrimp:hover .middle {
    opacity: 1;
  }
  .hot_pot:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .hot_pot:hover .middle {
    opacity: 1;
  }
  .won_ton:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .won_ton:hover .middle {
    opacity: 1;
  }
  .kung_pao_chicken:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .kung_pao_chicken:hover .middle {
    opacity: 1;
  }
  .mapo_doufu:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .mapo_doufu:hover .middle {
    opacity: 1;
  }
  .chow_mein:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .chow_mein:hover .middle {
    opacity: 1;
  }
  .hunan_chicken:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .hunan_chicken:hover .middle {
    opacity: 1;
  }
  .meatball:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .meatball:hover .middle {
    opacity: 1;
  }
  .chicken_friedrice:hover .image {
    opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .chicken_friedrice:hover .middle {
    opacity: 1;
  }
  .eggroll_bowl:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .eggroll_bowl:hover .middle {
    opacity: 1;
  }
  .dragon_noodles:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .dragon_noodles:hover .middle {
    opacity: 1;
  }
  .buddhas_delight:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .buddhas_delight:hover .middle {
    opacity: 1;
  }
  .moo_goo_gai_pan:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .moo_goo_gai_pan:hover .middle {
    opacity: 1;
  }
  .chicken_skewers:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .chicken_skewers:hover .middle {
    opacity: 1;
  }
  .egg_foo_young:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .egg_foo_young:hover .middle {
    opacity: 1;
  }
  .pepper_steak:hover .image {
   opacity: 0.8;
    height: 300px;
     width:300px;
  }
  .pepper_steak:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: black;
    color: white;
    font-size: 16px;
    width:60px;
    padding: 16px 32px;
  }
iframe
  {
    display: none;
  }